/* Add this in your global CSS file or <style> tag */
::-webkit-scrollbar {
  width: 8px; /* slim width */
}

::-webkit-scrollbar-track {
  background: #1f1f1f; /* dark track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #5c5c5c, #ffffff); /* gradient thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #d3d3d6, #5c5c5c); /* hover gradient */
}


@import "tailwindcss"
